/*--------------- Top-Panel-Section-Start ----------------*/

.top-panel {
    background-color: #81c408;
    padding: 15px 50px;
    font-size: 15px;
    border-radius: 230px 100px;
}

.top-panel>div>a {
    text-decoration: none;
    color: white;
}

.top-panel>div>a:hover {
    color: #fdc148;
}

/*--------------- Top-Panel-Section-End ----------------*/

/*--------------- Navbar-Section-Start --------------*/

.navbar-nav a:hover {
    color: #81c408;
}

.dropdown-menu a:hover {
    background-color: #ffb524;
    color: white;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.icon {
    cursor: pointer;
}

.icon>.serach-icon {
    width: 40px;
    height: 40px;
    font-size: 14px;
    color: #81c408;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.icon>.serach-icon {
    border: 1px solid #ffb524;
    padding: 20px;
    border-radius: 100%;
}

.icon>.serach-icon:hover {
    background-color: #ffb524;
    color: white;
}

/*--------------- Navbar-Section-End ----------------*/